* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.container {
    border: 0.3rem solid black  ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box {
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: red;
}
.box3 {
    background-color: yellow;
}
.box4 {
    background-color: pink;
}
.box5 {
    background-color: green;
}
.box6 {
    background-color: brown;
}