* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px black dotted;
    border-radius: 10px;
}

#two {
    background-color: yellow;
    position: relative;
    top: 10px;
    left: 10px;
    
    
}