* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: 100vw;
    height: 50px;
}
.container {
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 0;
    height: inherit;
}
.container li {
    height: inherit;
    display: inline;
    font-size: 1.6rem;
    margin-right: 100px;
}
main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google {
    text-align: center;
    height: 200px;
}
h2 {
    font-size: 10rem;
    width: 100%;
}
input {
    width: 100%;
    border-radius: 5px;
}
.foto {
    background-color: black;
}
button {
    width: 40%;
    margin-top: 10px;
    border-radius: 5px;
}
p {
    font-size: 1.6rem;
    position: relative;
    top: 100px;
}
footer {
    width: 100vw;
    height: 70px;
}
footer section {
    width: inherit;
    height: 35px;
    background-color: black;
}
