* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
    border-radius: 10px;
}
.c1 {
    background-color: green;
}
.c2 {
    background-color: blue;
}
.c3 {
    background-color: pink;
}
.c4 {
    background-color: violet;
}
.c5 {
    background-color: brown;
}
@media (min-width: 600px) {
    .c1 {
        width: 25%;
        order: 1;
    }
    .c2 {
        width: 75%;
        order: 2;
    }
    .c3 {
        width: 100%;
        order: 3;
    }
    .c4 {
        width: 100%;
        order: 4;
    }
    .c5 {
        width: 100%;
        order: 5;
    }
}
@media (min-width: 800px) {
    .c1 {
        width: 15%;
        order: 1;
    }
    .c2 {
        width: 35%;
        order: 2;
    }
    .c3 {
        width: 50%;
        order: 3;
    }
    .c4 {
        width: 50%;
        order: 4;
    }
    .c5 {
        width: 50%;
        order: 5;
    }
}