* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
    border-radius: 10px;
}
.c1 {
    background-color: yellow;
}
.c2 {
    background-color: blue;
}
.c3 {
    background-color: peachpuff;
}
.c4 {
    background-color: red;
}
.c5 {
    background-color: brown;
}

