html {
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: inherit;
    font-family: inherit;
}

p {
    font-size: inherit;
    font-family: inherit;
}