* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    display: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5, .c6{
    width: 100%;
    min-width: 150px;
    height: 170px;
    border-radius: 5px;
}
.c1 {
    background-color: red;
    display: flex;
    justify-content: center;
}   
.c1 .charmander img {
    width: 150px;
    height: 150px;
}
.c2 {
    background-color: rgb(148, 134, 230);
    display: flex;
    justify-content: center;
}
.c2 .squirtle img {
    width: 150px;
    height: 150px;
}
.c3 {
    background-color: green;
    display: flex;
    justify-content: center;
}
.c3 .bulbasur img {
    width: 150px;
    height: 150px;
}
.c4 {
    background-color: yellow;
    display: flex;
    justify-content: center;
}
.c4 .pikachu img {
    width: 150px;
    height: 150px;
}