* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
  }
  
  header {
    height: 5vh;
    background-color: black;
    border-bottom: white 0.2rem solid;
  }
  main {
    height: 88vh;
  }
  
  .logo {
    display: inline-block;
    margin: 0 0 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

  }
  .nav {
    list-style: none;
    position: absolute;
    left: 120rem;
    top: 1rem;
 }
 .nav li {
    display: inline-block;
    margin-right: 3rem;
    font-size: 1.5rem;
  }
  .nav li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .items {
    width: 10%;
    min-width: 150px;
    height: 100%;
    background-color: #25282c;
    display: inline-block;
    padding: 0;
  }
  .items__img {
    margin: 0em;
  }
  
  .items__img img {
    height: 120px;
    margin: 1.5em;
    background-color: #6f7174;
    border-radius: 10px;
    display: block;
  }
  .principal {
    width: 90vw;
    height: 88vh;
    display: inline-block;
    background-color: lightskyblue;
    position: absolute;
  }
  .principal__title {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  footer {
    width: 100vw;
    height: 7vh;
    border-top: black 2px solid;
    background-color: gray;
  }
  footer p {
      text-align: center;
      font-size: 2rem;
      position: relative;
      top: 10px;
      font-family: Arial, Helvetica, sans-serif;
  }
  .principal p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2rem;
      position: relative;
      top: 3rem;
  }