:root{
    --primary-color: darkcyan;
    --secondary-color: black;
    --font-type: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
     height: 10vh;
     background-color: var(--primary-color);
}
main {
    font-size: 10rem;
    height: 80vh;
    font-family: var(--font-type);
}
footer{
    height: 10vh;
    background-color: var(--secondary-color);
}