* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#one {
    background-color: white;
    width: 600px;
    height: 600px;
    position: fixed;
    left: 500px;
    top: 100px;
    border: 2px black solid;
    border-radius: 100px;
}
#two {
    background-color: lightgray;
    width: 300px;
    height: 100px;
    border: 2px black solid;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    left: 640px;
}
.p1 {
    font-size: 30px;
    position: relative;
    top: 120px;
    left: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.p2 {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 300px;
    height: 300px;
    position: relative;
    left: 150px;
    top: 100px;
}