* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.c1 {
    background-color: yellow;
}
.c2 {
    background-color: blue;
}
.c3 {
    background-color: orange;
}
.c4 {
    background-color: red;
}
.c5 {
    background-color: brown;
}
@media (min-width: 600px) {
    .c1 {
        width: 25%;
    }
    .c4 {
        width: 75%;
    }
    .c5 {
        width: 100%;
    }
}
@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1 {
        width: 50%;
        order: 1;
    }
    .c4 {
        width: 100%;
    }
    .c5 {
        width: 50%;
        order: 2;
    }
}