body {
  background-color: black;
}

h1 {
  font: italic;
  color: yellowgreen;
  text-align: center;
}

li {
  color: yellowgreen;
}

figcaption {
  color: yellowgreen;
}

img {
  border-radius: 20%;
  width: 200px;
}

#seccion1 {
  background-position-x: 20%;
  background-position-y: 20%;
}
